---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <h1 class="text-green-400">Welcome to Astro!</h1>
  <p>This is a simple example of an Astro page.</p>
  <p>
    To learn more about Astro, check out the <a href="https://astro.build"
      >Astro documentation</a
    >.
  </p>
</Layout>
