---
const { services, ServiceLogo } = Astro.props;
---

<section
  class="min-h-[80vh] bg-sky-600 py-10 flex flex-col justify-center gap-10"
>
  <h1 class="text-white font-bold text-center text-3xl md:text-4xl">
    Nuestros servicios
  </h1>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-7xl mx-auto px-6 lg:px-8"
  >
    {
      services.map((service: any) => (
        <div class="group bg-sky-700 rounded-lg shadow-lg p-6 h-[400px] flex flex-col justify-center hover:scale-105 transition-transform duration-300 hover:bg-white hover:text-sky-700">
          <ServiceLogo class="w-20 h-20 mb-4 items-start" />
          <h2 class="text-white text-xl font-semibold mb-2 group-hover:text-sky-700 transition-colors duration-300">
            {service.title}
          </h2>
          <p class="text-white group-hover:text-sky-700 transition-colors duration-300">
            {service.description}
          </p>
        </div>
      ))
    }
  </div>
</section>
