---
const { testimonials } = Astro.props;
---

<section
  class="min-h-[80vh] bg-gradient-to-tr from-slate-300 to-blue-50 py-10 px-20 space-y-10"
>
  <div class="flex justify-between">
    <h2 class="text-4xl font-bold text-slate-900 mb-4 mr-10">
      Lo que nuestros <br /> clientes dicen
    </h2>
    <p class="text-lg text-slate-600 mb-6 text-justify w-2/3">
      Nos llena de satisfacción saber que quienes han confiado en nosotros
      desean compartir sus experiencias y opiniones sobre la atención recibida.
      Sus palabras nos motivan a seguir mejorando cada día y a brindar un
      servicio de calidad, enfocado en el bienestar y la satisfacción de cada
      persona que atendemos.
    </p>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-7xl mx-auto px-6 lg:px-8"
  >
    {
      testimonials.map((service: any) => (
        <div class="border-1 border-sky-700 rounded-2xl shadow-lg px-10 py-5 h-fit flex flex-col justify-center space-y-4">
          <img
            src="/public/quotes.svg"
            alt="quotes"
            class="w-10 h-10 rounded-full  p-1"
          />
          <p class="text-slate-600">{service.feedback}</p>
          <div class="flex items-center space-x-4 border-t-1 border-slate-400 pt-4">
            <img
              src="/public/user.svg"
              alt="user"
              class="w-10 h-10 rounded-full border-1 border-slate-400 p-1"
            />
            <h2 class=" text-xl font-semibold mb-2 ">{service.name}</h2>
          </div>
        </div>
      ))
    }
  </div>
</section>
